*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(45deg,#31e0ff,#1d164);

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100%;
    height: 100vh;
}